:root {
	/* colors */
	--foo: red;
	--main-background-color: #131729;
	--main-font-color: #DEDEDE;
	--main-highlighted-color: #00CED1;
	--outline-light: #34e2e2;
	--button-font-color-idle: orchid;
	--button-font-color-hover: palegreen;
	--main-alt-color: palegreen;
	--tab-background-color-unfocused: var(--main-background-color);
	--tab-background-color-focused: #2C355E;
	--tab-font-color-focused: var(--main-font-color);
	--tab-font-color-unfocused: var(--main-font-color);

	--input-background-color-focused: var(--main-background-color);
        --input-background-color-unfocused: var(--main-background-color);
        --input-font-color-focused: var(--main-font-color);
        --input-font-color-unfocused: var(--main-font-color);

	--disabled: dimgrey;

	/* fonts */
	--main-font: "Lucida Console", "Courier New", monospace;
}


/** {
	box-sizing: border-box;
	margin: 5px;
}*/

body {
        color: var(--main-font-color) !important;
        background: var(--main-background-color) !important;
        font-family:  var(--main-font) !important;
        line-height: normal !important;
        font-size: 16px !important;
}

table {
	border-collapse: separate !important;
	text-indent: initial !important;
	border-spacing: 2px !important;
}

html {
	font-size: 16px !important;
	font-family:  var(--main-font) !important;
}

/*ul { 
	list-style: none; 
	padding: 0; 
	margin: 0;
}

li { 
	padding-left: 0.75em; 
	position:relative; 
}*/

/*li:before { 
	content: "\2022";
	color: var(--main-highlighted-color); 
	position: absolute; 
	left: 0em; 
}*/

a {
  color: var(--button-font-color-idle);
  text-decoration: none; 
}

a:hover {
  color: var(--button-font-color-hover);
  text-decoration: none; 
}

a:visited {
  color: var(--button-font-color-idle);
  text-decoration: none; 
}

.sm-font-italic {
 font-size: 13px;
 font-style: italic;
}

.disabled {
 color: var(--disabled) !important;
}

.textarea {
 background-color: var(--main-background-color);
 color: var(--main-font-color);
}

.pri-color {
  color: var(--button-font-color-idle);
}

.alt-color {
  color: var(--main-alt-color);
}

.outline {
  border: 2px solid var(--outline-light);
  border-radius: 6px;
}

.bottom_line {
  border-bottom: 2px dashed var(--outline-light); 
}

.top_line {
  border-top: 2px dashed var(--outline-light);
}

.sm-bttn {
  padding: 5px 9px;
  cursor: pointer;
  color: var(--button-font-color-idle);
  background: var(--main-background-color);
  border: none;
  outline: 2px solid var(--outline-light);
  border-radius: 6px;
  font-size: 100% !important;

 -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
}

.sm-bttn:hover {
  color: var(--button-font-color-hover) !important;
  background: var(--main-background-color) !important;
}

.client_download_button {
  text-align: right;
  padding-top: 20px !important;
  padding-right: 20px !important;
  display: block !important; 
  font-family: var(--main-font) !important;
  font-size: 100% !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.trophy_icon {
  width: 55px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  -webkit-filter: brightness(120%); /* Safari 6.0 - 9.0 */
  filter: brightness(120%);
}

.trophy_icon img {
  width: 36px;
  height: 36px;
}

.trophy_dimmed {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(100%) opacity(25%);
}

.client_download_os_icon img {
  margin-top: 10px;
  /*padding-left: 2px;
  padding-right: 2px;*/
  width: 32px;
  height: 32px;
  filter: brightness(75%);
}

.client_download_os_icon:hover img {
  filter: brightness(110%);
  -webkit-transition : -webkit-filter 500ms linear
}

.client_download_os_icon:active img {
  filter: brightness(120%);
  -webkit-transition : -webkit-filter 500ms linear
}

img.client_download_link_colorizer:hover ~ p.versionLabel { 
  color: var(--button-font-color-hover);
}

p {
  font-weight: 300;
  transition: color 0.5s ease;
}

.client_download_button_font {
  font-family: var(--main-font) !important;
  font-weight: normal !important;
  font-size: 100% !important;
}

.client_download_tooltip {
  font-family: var(--main-font) !important;
  font-weight: normal !important;
  font-size: 100% !important;
  background-color: var(--main-background-color);
  color: var(--button-font-color-hover);
  border-color: #34e2e2;
  text-align: right;
}

p.client_download_tooltip_otherbuilds {
  font-family: var(--main-font) !important;
  font-weight: normal !important;
  font-size: 65% !important;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

p.client_download_tooltip_otherbuilds a {
  color: var(--button-font-color-idle) !important;
  text-decoration: none;
  font-weight: 300;
  transition: color 0.5s ease;
}

p.client_download_tooltip_otherbuilds:hover a {
  color: var(--button-font-color-hover) !important;
  text-decoration: none;
}

p.client_download_tooltip_otherbuilds:visited a {
  color: var(--button-font-color-idle) !important;
  text-decoration: none;
}

.versionLabel {
  display: block;
  font-size: 0.83em;
  margin-top: 2px;
}

.versionLabel:hover {
  color: var(--button-font-color-hover) !important;
}

.name_header {
  color: #00CED1;
  text-align: left;
  padding-left: 20px; 
  padding-top: 15px;
}

.google_header {
  text-align: left;
  padding-left: 20px;
  padding-top:15px;
  
}

.google_header img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}


.outer {
  height: 100%;
  width: 100%;
  max-height: 100%;
  margin-top: 100px;
  /* background-color:green */
}

.inner {
  /* width: 1225px; */
  width: 1300px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px; 
  padding-bottom: 50px;
  height: auto;
  /* background-color:yellow; */
  max-height:100%;
  overflow:hidden; 
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-content: center !important;
 
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px); 
  grid-gap: 30px;
  background-color: #131729;
  /* background-color: orange;  */
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  align-content: center !important; 
}

.card_dimmed {
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
  outline: 2px dashed #A0A0A0 !important; 
  color: #A0A0A0 !important;
  opacity: 0.75;

}

.catbox {
  background-color: #131729;
  border-radius: 6px;
  padding: 15px !important;
  padding-bottom: 50px !important;
  font-size: 125% !important;
  outline: 2px solid #34e2e2; 
}

.card_worldName {
  color: #32afff;
  font-size: 18px;
  outline: none !important;
  text-align: center;
}

.card_worldLaunch {
  font-size: 15px;
  outline: none !important;
  text-align: center;
}

a.card_worldLaunch:link {
  color: orchid;
}

a.card_worldLaunch:visited {
  color: orchid;
  /* color: rgba(255,34,34); */
}

a.card_worldLaunch:hover{
  color: palegreen;
}

.card_worldInfo {
  color: #d3d7cf;
  font-size: 12px;
  outline: none !important;
}


div.dataTables_info {
  color: white !important;
}

div.dataTables_length {
  color: white !important;
}

div.dataTables_length select {
  color: white !important;
  background-color: #262626 !important; 
}

div.dataTables_filter input {
  color: white !important;
}

div.dataTables_filter {
  color: white !important;
}

a#worlds_previous.paginate_button.previous.disabled {
  color: white !important;
}

a#worlds_previous.paginate_button.previous {
  color: white !important;
}

a#worlds_next.paginate_button.next.disabled {
  color: white !important;
}

a#worlds_next.paginate_button.next {
  color: white !important;
}

.dataTables_paginate .paginate_button:hover {
  background: #626262 !important;
}
.dataTables_paginate .paginate_button.current {
  background: #999999 !important;
}

.dataTables_paginate .page-item.active .page-link {
    background-color: black !important;
    border: 1px solid black;
}
.dataTables_paginate .page-link {
    color: green !important;
}

table#worlds.dataTable tbody tr:hover {
  background-color: #999999;
}

table#worlds.dataTable tbody tr:hover > .sorting_1 {
  background-color: #999999;
}

table#worlds.dataTable thead:hover {
  background-color: #999999;
}

table.dataTable tbody tr.myeven{
    background-color:#404040;
}
table.dataTable tbody tr.myodd{
    background-color:#303030;
}

:not(td) > table > thead > tr:first-child th {
   background: #262626 !important;
}


/* from MBBS container, don't leave this shit here */

.btn-outline-download {
  color: orchid; /* font color */
  border-color: #34e2e2;
}

.btn-outline-download:hover {
  color: palegreen;
  background-color: #131729;
  border-color: #34e2e2;
}

/*.btn-outline-download:focus, .btn-outline-download.focus {
  box-shadow: 0 0 0 0.2rem rgba(209, 209, 0, 0.5);
}*/

/*.btn-outline-download.disabled, .btn-outline-download:disabled {
  color: orchid;
  background-color: transparent;
}*/

/* depressed */
.btn-outline-download:not(:disabled):not(.disabled):active, .btn-outline-download:not(:disabled):not(.disabled).active,
.show > .btn-outline-download.dropdown-toggle {
  color: orchid;
  background-color: #131729;
  border-color: #aa0000;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
  line-height: 1.0;
  border-radius: 0.2rem;
  background-color: #131729;
  display: inline-block;
  margin: 0em;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  border-width: 2px;
  border-style: outset;
  border-image: initial
}

.popover {
    min-width: 100px;
    max-width: 100%;
    background: var(--main-background-color);
    border-color: #34e2e2;
}

.popover-title {
    background: var(--main-background-color);
    border-color: #34e2e2;
}
