[client]
host     = localhost
user     = root
password = secretpassword
socket=/var/run/mysqld/mysqld.sock

[mysqld]
socket=/var/run/mysqld/mysqld.sock
datadir=/opt/stateful/mysql/data
tmpdir=/opt/stateful/mysql/temp
lc-messages-dir=/usr/share/mysql/english
lc-messages=en_US

log-error=/opt/stateful/mysqld.log

pid-file=/opt/stateful/mysql/mysqld.pid
default_authentication_plugin=caching_sha2_password
